<h2>Extris Web</h2>

<ul>
  <li>Get Extris game started when websocket connects to channel</li>
  <li>Render board for game in JavaScript via websockets</li>
  <li>Send game events to game over websockets</li>
</ul>

<canvas id="canvas" width="500", height="600">
</canvas>

<script src="/js/phoenix.js"></script>
<script src="/js/extris.js"></script>
